[submodule "tools"]
	path = tools
	url = https://github.com/mediaz/tools.git
[submodule "Subsystems/nosAI/External/ONNXRT"]
	path = Subsystems/nosAI/External/ONNXRT
	url = https://github.com/mediaz/onnxrt-dependencies.git
[submodule "Subsystems/nosNVVFXDeps"]
	path = Subsystems/nosNVVFXDeps
	url = https://github.com/mediaz/nvvfx_sdk
[submodule "Tools"]
	path = Tools
	url = https://github.com/mediaz/tools
[submodule "Subsystems/nosCUDASubsystem/External/nosCUDA"]
	path = Subsystems/nosCUDASubsystem/External/nosCUDA
	url = https://github.com/mediaz/nosCUDA.git
