[submodule "tools"]
	path = tools
	url = https://github.com/mediaz/tools.git
[submodule "Subsystems/nosONNXDependencies"]
	path = Subsystems/nosONNXDependencies
	url = https://github.com/mediaz/onnxrt-dependencies.git
[submodule "Subsystems/nosNVVFXDeps"]
	path = Subsystems/nosNVVFXDeps
	url = https://github.com/mediaz/nvvfx_sdk
[submodule "Tools"]
	path = Tools
	url = https://github.com/mediaz/tools
[submodule "Subsystems/nosCUDADependencies"]
	path = Subsystems/nosCUDADependencies
	url = https://github.com/mediaz/nosCUDA.git
[submodule "Subsystems/nosONNXModels-RMBG"]
	path = Subsystems/nosONNXModels-RMBG
	url = https://github.com/mediaz/nosONNXModels-RMBG.git
[submodule "Subsystems/nosONNXModels-DepthAnything"]
	path = Subsystems/nosONNXModels-DepthAnything
	url = https://github.com/mediaz/nosONNXModels-DepthAnything.git
[submodule "Subsystems/nosTensorRTDependencies"]
	path = Subsystems/nosTensorRTDependencies
	url = https://github.com/mediaz/nosTensorRT.git
[submodule "Subsystems/nosONNXModels-RT4KSR"]
	path = Subsystems/nosONNXModels-RT4KSR
	url = https://github.com/mediaz/nosONNXModels-RT4KSR
[submodule "Subsystems/nosONNXModels-DepthAnything-v2"]
	path = Subsystems/nosONNXModels-DepthAnything-v2
	url = https://github.com/mediaz/nosONNXModels-DepthAnything-v2.git
