[submodule "tools"]
	path = tools
	url = https://github.com/mediaz/tools.git
[submodule "Subsystems/nosONNXDependencies"]
	path = Subsystems/nosONNXDependencies
	url = https://github.com/mediaz/onnxrt-dependencies.git
[submodule "Subsystems/nosNVVFXDeps"]
	path = Subsystems/nosNVVFXDeps
	url = https://github.com/mediaz/nvvfx_sdk
[submodule "Tools"]
	path = Tools
	url = https://github.com/mediaz/tools
[submodule "Subsystems/nosCUDADependencies"]
	path = Subsystems/nosCUDADependencies
	url = https://github.com/mediaz/nosCUDA.git
[submodule "Subsystems/nosONNXModels-RMBG"]
	path = Subsystems/nosONNXModels-RMBG
	url = https://github.com/mediaz/nosONNXModels-RMBG.git
[submodule "Subsystems/nosONNXModels-DepthAnything"]
	path = Subsystems/nosONNXModels-DepthAnything
	url = https://github.com/mediaz/nosONNXModels-DepthAnything.git
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/mediaz/modules-scripts.git
